@font-face {
    font-family: "renogare";
    src: url(Renogare.ttf) format("truetype");
}
p,label {
    color: #FFE4BC;
    font-family: "renogare", "verdana", sans-serif;
}
body {
    background: #005298;
}

main {
	margin-top: 10em;
	padding: 1px 0 1px 5%;
	border-left: 1px solid;
}

header {
	margin-top: 0px;
	position: fixed;
	background-color: #183536;
	top: 0px;
	left: 0px;
	width: 100%;
	text-align: left;
	z-index: 10;
	height: 75px;
	padding: 10px;
}

#headImg{
    display: inline;
    float: right;
    padding-right: 10px;
    right: 7em;
}

h1 {
    color: #FFE4BC;
	font-family: "renogare", "verdana", sans-serif;
    font-size: 40pt;
    width: 50%;
    display: inline;
}

section {
	float: top;
    width: 90%;
	margin-top: 75px;
    padding: 30px;
    height: 70%;
    position: absolute;
    font-family: "renogare", "verdana", sans-serif;
}

input[type=text] {
    font-family: "renogare", "verdana", sans-serif;
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 5px;
    border-color:#183536;
    border-radius: 8px;
}

input[type=text]:focus {
    background-color: #FFE4BC;
}

footer {
    bottom: 0px;
    left: 0px;
	width: 100%;
	text-align: left;
	z-index: 10;
	height: 50px;
	padding: 10px;
    margin-top: 5%;
    background-color: #183536;
    position: fixed;
}

#add {
    position: absolute;
    top: 75%;
    left: 90%;
}

#logout {
    position: absolute;
    top: 20%;
    left: 89%;
}

.button {
    background-color: #183536;
    border-color: #FFE4BC;
    color: #FFE4BC;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "renogare", "verdana", sans-serif;
    font-size: 16px;
    border-radius: 12px;
    transition-duration: 0.2s;
}

.button:hover {
    background-color: #FFE4BC;
    color: #183536;
    border-color: #183536;
    cursor: pointer;
}

.project_tile {
    display: inline-block;
    background-color: #183536;
    border-color: #F66068;
    color: #F66068;
    padding: 50px 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    font-family: "renogare", "verdana", sans-serif;
    font-size: 16px;
    transition-duration: 0.2s;
    margin: 2px;
}

.project_tile:hover {
    background-color: #F66068;
    color: #183536;
    border-color: #183536;
    cursor: pointer;
}

#admin_button {
    display: inline-block;
    background: #FFE4BC;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 8px;
    font-size: 16px;
    color: #183536;
    margin: 3px;
}

#project {
    display: inline-block;
    background: #FFE4BC;
    padding: 10px 10px;
    text-decoration: none;
    border-radius: 8px;
    font-size: 16px;
    color: #183536;
    margin: 3px;
}

.delete {
    position: relative;
    left: 65%;
}


a:link {
    color: #F66068;
    text-decoration: none;
}

a:visited {
    color: #F66068;
    text-decoration: none;
}
.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.edit-box {
    z-index: 5;
    position: absolute;
    display: inline-block;
    width: 70%;
    height: 450px;
    margin-left: 15%;
    padding: 10px;
    background:#F66068;
    border-radius: 15px;
    border-style: solid;
    border-width:5px;
    border-color:rgb(243, 210, 169);
}

#edit_label {
    color: #183536;
    display: block;
}

#edit-confirm #back {
    position: relative;
    float: bottom;
}

.dropdown-check-list {
    display: inline-block;
}
  
.dropdown-check-list .anchor {
    cursor: pointer;
    display: inline-block;
    padding: 5px 10px 5px 10px;
    border: 1px solid #ccc;
}
  
.dropdown-check-list.visible .anchor {
    color: #0094ff;
    position: absolute;
    content: "";
    border-left: 2px solid black;
    border-top: 2px solid black;
    padding: 5px 10px 5px 10px;
}

.dropdown-check-list li {
    max-height: 0;
    transition: max-height 0.15s ease-out;
    overflow: hidden;
    display: block;
    list-style: none;
    border: none;
    font-size: 15px;
    padding: 0;
    margin: 0;
}

.dropdown-check-list.visible #juniors{
    margin-bottom: 30px;
}

.dropdown-check-list.visible li {
    max-height: 500px;
    transition: max-height 0.5s ease-in;
    display: block;
    z-index: 10;
    margin: 0;
    border: 1px solid #ccc;
    border-top: none;
    padding: 3px;
}



.dropdown-check-list-s {
    display: inline-block;
}
  
.dropdown-check-list-s .anch {
    cursor: pointer;
    display: inline-block;
    padding: 5px 10px 5px 10px;
    border: 1px solid #ccc;
}
  
.dropdown-check-list-s.v .anch {
    color: #0094ff;
    position: absolute;
    content: "";
    border-left: 2px solid black;
    border-top: 2px solid black;
    padding: 5px 10px 5px 10px;
}

.dropdown-check-list-s li {
    max-height: 0;
    transition: max-height 0.15s ease-out;
    overflow: hidden;
    display: block;
    list-style: none;
    border: none;
    font-size: 15px;
    padding: 0;
    margin: 0;
}

.dropdown-check-list-s.v #sophomores{
    margin-bottom: 30px;
}

.dropdown-check-list-s.v li {
    max-height: 500px;
    transition: max-height 0.5s ease-in;
    display: block;
    z-index: 10;
    margin: 0;
    border: 1px solid #ccc;
    border-top: none;
    padding: 3px;
}
