p,label {
    color: #FFE4BC;
}
body {
    background: #005298;
}

main {
	margin-top: 10em;
	padding: 1px 0 1px 5%;
	border-left: 1px solid;
}

header {
	margin-top: 0px;
	position: fixed;
	background-color: #183536;
	top: 0px;
	left: 0px;
	width: 100%;
	text-align: left;
	z-index: 10;
	height: 75px;
	padding: 10px;
}

#headImg{
    display: inline;
    float: right;
    padding-right: 10px;
    right: 7em;
}

h1 {
    color: #FFE4BC;
	font-family: "Courier New", monospace;
    font-size: 40pt;
    width: 50%;
    display: inline;
}

section {
	float: top;
    width: 90%;
	margin-top: 75px;
    padding: 30px;
    height: 70%;
    position: absolute;
}

input[type=text] {
    width: 50%;
    padding: 12px 20px;
    margin-bottom: 5px;
    border-color:#183536;
    border-radius: 8px;
}

input[type=text]:focus {
    background-color: #FFE4BC;
}

footer {
    bottom: 0px;
    left: 0px;
	width: 100%;
	text-align: left;
	z-index: 1;
	height: 50px;
	padding: 10px;
    margin-top: 5%;
    background-color: #183536;
    position: fixed;
}

#add {
    position: absolute;
    top: 75%;
    left: 90%;
}

.button {
    background-color: #183536;
    border-color: #FFE4BC;
    color: #FFE4BC;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    transition-duration: 0.2s;
}

.button:hover {
    background-color: #FFE4BC;
    color: #183536;
    border-color: #183536;
    cursor: pointer;
}

.project_tile {
    display: inline-block;
    background-color: #183536;
    border-color: #F66068;
    color: #F66068;
    padding: 50px 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    font-size: 16px;
    transition-duration: 0.2s;
    margin: 2px;
}

.project_tile:hover {
    background-color: #F66068;
    color: #183536;
    border-color: #183536;
    cursor: pointer;
}

#admin_button {
    display: inline-block;
    background: #FFE4BC;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 8px;
    font-size: 16px;
    color: #183536;
    margin: 3px;
}

#project {
    display: inline-block;
    background: #FFE4BC;
    padding: 10px 10px;
    text-decoration: none;
    border-radius: 8px;
    font-size: 16px;
    color: #183536;
    margin: 3px;
}

.delete {
    position: relative;
    left: 70%;
}


a:link {
    color: #F66068;
    text-decoration: none;
}

a:visited {
    color: #F66068;
    text-decoration: none;
}
.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.edit-box {
    z-index: 5;
    position: absolute;
    display: inline-block;
    width: 70%;
    height: 75%;
    margin-left: 15%;
    padding: 10px;
    background:#F66068;
    border-radius: 15px;
}

#edit_label {
    color: #183536;
}
