p,label {
    color: #FFE4BC;
}
body {
    background: #005298;
}

main {
	margin-top: 10em;
	padding: 1px 0 1px 5%;
	border-left: 1px solid;
}

header {
	margin-top: 0px;
	position: fixed;
	background-color: #183536;
	top: 0px;
	left: 0px;
	width: 100%;
	text-align: left;
	z-index: 1;
	height: 6em;
	padding: 10px;
}

#headImg{
    display: inline;
    float: right;
    padding-right: 10px;
    right: 7em;
}

h1 {
    color: #FFE4BC;
	font-family: "Courier New", monospace;
    font-size: 40pt;
    width: 50%;
    display: inline;
}

section {
	float: top;
	height: 5em;
	padding: 5px;
	margin-top: 10%;
    padding-bottom: 50px;
}

footer {
    bottom: 0px;
    left: 0px;
	width: 100%;
	text-align: left;
	z-index: 1;
	height: 50px;
	padding: 10px;
    margin-top: 5%;
    background-color: #183536;
    position: fixed;
}

#add {
    position: absolute;
    top: 75%;
    left: 90%;
}

.button {
    background-color: #183536;
    border: none;
    color: #FFE4BC;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    transition-duration: 0.2s;
}

.button:hover {
    background-color: #FFE4BC;
    color: #005298;
    cursor: pointer;
}

.project_tile {
    background-color: #183536;
    border: none;
    color: #F66068;
    padding: 50px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    transition-duration: 0.2s;
}

.project_tile:hover {
    background-color: #F66068;
    color: #183536;
    cursor: pointer;
}

#admin_button {
    display: inline-block;
    background: #FFE4BC;
    padding: 5px 10px;
    text-decoration: underline;
    border-radius: 8px;
    font-size: 16px;
    color: #183536;
    margin: 2px;
}

.delete {
    position: relative;
    left: 70%;
}

a:link {
    color: #F66068;
    text-decoration: none;
}

a:visited {
    color: #F66068;
    text-decoration: none;
}
